<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <div class="page-actions">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['edit']"
      [queryParams]="{ bucketType: delinquencyBucketType.value }"
      *mifosxHasPermission="'UPDATE_DELINQUENCY_BUCKET'"
    >
      <fa-icon icon="edit" class="m-r-10"></fa-icon>
      {{ 'labels.buttons.Edit' | translate }}
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="deleteDelinquencyBucket()"
      *mifosxHasPermission="'DELETE_DELINQUENCY_BUCKET'"
    >
      <fa-icon icon="trash" class="m-r-10"></fa-icon>
      {{ 'labels.buttons.Delete' | translate }}
    </button>
  </div>

  <dl class="details">
    <dt>{{ 'labels.inputs.Type' | translate }}</dt>
    <dd>{{ bucketTypeLabel(delinquencyBucketData.bucketType.id) | translateKey: 'catalogs' }}</dd>

    <dt>{{ 'labels.inputs.Name' | translate }}</dt>
    <dd>{{ delinquencyBucketData.name }}</dd>

    @if (delinquencyBucketData.minimumPaymentPeriodAndRule) {
      <dt>{{ 'labels.inputs.Frequency' | translate }}</dt>
      <dd>
        {{ delinquencyBucketData.minimumPaymentPeriodAndRule.frequency }}
      </dd>

      <dt>{{ 'labels.inputs.Frequency Type' | translate }}</dt>
      <dd>
        {{
          getCatalogLabel(delinquencyBucketData.minimumPaymentPeriodAndRule.frequencyType.code)
            | translateKey: 'catalogs'
        }}
      </dd>

      <dt>{{ 'labels.inputs.Minimum Payment' | translate }}</dt>
      <dd>
        {{ delinquencyBucketData.minimumPaymentPeriodAndRule.minimumPayment | formatNumber }}
      </dd>

      <dt>{{ 'labels.inputs.Minimum Payment Type' | translate }}</dt>
      <dd>
        {{
          getCatalogLabel(delinquencyBucketData.minimumPaymentPeriodAndRule.minimumPaymentType.code)
            | translateKey: 'catalogs'
        }}
      </dd>
    }
  </dl>

  <h3 class="section-title">{{ 'labels.heading.Delinquency Ranges' | translate }}</h3>
  <table class="ranges-table">
    <thead>
      <tr>
        <th>{{ 'labels.inputs.Classification' | translate }}</th>
        <th class="num">{{ 'labels.inputs.Days From' | translate }}</th>
        <th class="num">{{ 'labels.inputs.Days Till' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (range of delinquencyBucketData.ranges; track range) {
        <tr>
          <td>{{ range.classification }}</td>
          <td class="num">{{ range.minimumAgeDays }}</td>
          <td class="num">{{ range.maximumAgeDays }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
