<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<form class="container" [formGroup]="groupForm">
  <div class="form-grid">
    <mat-form-field class="field-lg fill">
      <mat-label>{{ 'labels.inputs.name' | translate }}</mat-label>
      <input matInput required formControlName="name" />
      @if (groupForm.controls.name.hasError('required')) {
        <mat-error>
          {{ 'labels.inputs.Group Name' | translate }} {{ 'labels.commons.is' | translate }}
          <strong>{{ 'labels.commons.required' | translate }}</strong>
        </mat-error>
      }
      @if (groupForm.controls.name.hasError('pattern')) {
        <mat-error>
          {{ 'labels.inputs.Group Name' | translate }} <strong>{{ 'labels.inputs.cannot' | translate }}</strong>
          {{ 'labels.commons.begin with a special character or number' | translate }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="field-md fill">
      <mat-label>{{ 'labels.inputs.Office' | translate }}</mat-label>
      <mat-select required formControlName="officeId">
        @for (office of officeData; track office) {
          <mat-option [value]="office.id">
            {{ office.name }}
          </mat-option>
        }
      </mat-select>
      @if (groupForm.controls.officeId.hasError('required')) {
        <mat-error>
          {{ 'labels.inputs.Office' | translate }} {{ 'labels.commons.is' | translate }}
          <strong>{{ 'labels.commons.required' | translate }}</strong>
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="field-md fill">
      <mat-label>{{ 'labels.inputs.Staff' | translate }}</mat-label>
      <mat-select formControlName="staffId">
        @for (staff of staffData; track staff) {
          <mat-option [value]="staff.id">
            {{ staff.displayName }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mifosx-nepali-date-input
      class="bs-date"
      [inline]="true"
      label="Submitted On"
      formControlName="submittedOnDate"
      [minDate]="minDate"
      [maxDate]="maxDate"
    />

    <!-- Row 1 ends after Submitted On. -->
    <span class="row-break"></span>

    <mat-checkbox class="field-check" labelPosition="after" formControlName="active">
      {{ 'labels.inputs.Active' | translate }}
    </mat-checkbox>

    @if (groupForm.controls.active.value) {
      <mifosx-nepali-date-input
        class="bs-date"
        [inline]="true"
        label="Activation Date"
        formControlName="activationDate"
        [minDate]="groupForm.value.submittedOnDate"
        [maxDate]="maxDate"
      />
    }

    <mat-form-field class="field-sm">
      <mat-label>{{ 'labels.inputs.External id' | translate }}</mat-label>
      <input matInput formControlName="externalId" />
    </mat-form-field>

    <mat-form-field class="field-lg">
      <mat-label>{{ 'labels.inputs.Add Clients' | translate }}</mat-label>
      <input matInput [formControl]="clientChoice" [matAutocomplete]="clientsAutocomplete" />
    </mat-form-field>
  </div>

  <mat-autocomplete autoActiveFirstOption #clientsAutocomplete="matAutocomplete" [displayWith]="displayClient">
    @for (client of clientsData; track client) {
      <mat-option [value]="client">
        {{ client.displayName }}
      </mat-option>
    }
  </mat-autocomplete>

  <div class="members-section">
    @if (clientChoice.value) {
      <div class="mat-table">
        <div class="mat-header-row">
          <div class="mat-header-cell">{{ 'labels.inputs.Client Details' | translate }}</div>
          <button mat-icon-button type="button" (click)="addClient()">
            <fa-icon icon="plus"></fa-icon>
          </button>
        </div>
        <div class="mat-row">
          <div class="mat-cell">{{ 'labels.inputs.name' | translate }}</div>
          <div class="mat-cell">{{ clientChoice.value.displayName }}</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">{{ 'labels.inputs.Id' | translate }}</div>
          <div class="mat-cell">{{ clientChoice.value.id }}</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">{{ 'labels.inputs.Office' | translate }}</div>
          <div class="mat-cell">{{ clientChoice.value.officeName }}</div>
        </div>
      </div>
    }

    @if (clientMembers.length) {
      <div class="mat-table">
        <div class="mat-header-row">
          <div class="mat-header-cell">{{ 'labels.heading.Selected Clients' | translate }}</div>
        </div>
        @for (client of clientMembers; track client; let i = $index) {
          <div class="mat-row">
            <div class="mat-cell">{{ client.displayName }}</div>
            <button mat-icon-button type="button" color="warn" (click)="removeClient(i)">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </div>
        }
      </div>
    }
  </div>

  <div class="form-actions">
    <button type="button" mat-raised-button [routerLink]="['../']">
      {{ 'labels.buttons.Cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" [disabled]="!groupForm.valid" (click)="submit()">
      {{ 'labels.buttons.Submit' | translate }}
    </button>
  </div>
</form>
