/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.input {
  max-width: 70rem;
  margin-top: 24px;

  .layout-column {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0 20px;
  }

  @media (width <=768px) {
    margin-top: 16px;

    .layout-column {
      grid-template-columns: 1fr;
    }
  }
}

.output {
  mat-card {
    > .m-b-20 {
      padding: 16px;
    }

    > table {
      margin: 0 16px;
    }

    > mat-paginator {
      padding: 0 16px;
    }
  }

  .error-log {
    min-width: 26px;
    padding: 0 6px;
    margin: 4px;
    line-height: 25px;
  }
}
