/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.address-fields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px 16px;

  mat-form-field {
    width: 100%;
  }

  @media (width <= 600px) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.inactive {
  opacity: 0.64;
  font-style: italic;
}
