/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

table {
  width: 100%;
}

.mat-elevation-z8 {
  border-radius: 10px;
  overflow: hidden;
}

.mat-mdc-header-row {
  background-color: var(--dk-fill, #1074b9);
}

.mat-mdc-header-cell {
  color: #fff;
  font-weight: 600;
  border-right: 1px solid rgb(255 255 255 / 25%);
}

.mat-mdc-header-cell:last-of-type {
  border-right: 0;
}

.true {
  color: var(--dk-success, #32cd32);
}

.false {
  color: var(--dk-danger, #f44366);
}
