<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="product-actions">
  <button mat-stroked-button color="primary" [matMenuTriggerFor]="exportMenu" *mifosxHasPermission="'READ_LOANPRODUCT'">
    <fa-icon icon="download" class="btn-icon"></fa-icon>{{ 'labels.buttons.Export' | translate }}
    <fa-icon icon="caret-down" class="caret"></fa-icon>
  </button>
  <mat-menu #exportMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="exportPdf()">
      <fa-icon icon="file-pdf" class="menu-icon"></fa-icon>
      {{ 'labels.buttons.Export as PDF' | translate }}
    </button>
    <button mat-menu-item (click)="exportDefinition()">
      <fa-icon icon="code" class="menu-icon"></fa-icon>
      {{ 'labels.buttons.Export as JSON' | translate }}
    </button>
  </mat-menu>
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['../edit']"
    [queryParams]="{ productType: loanProductService.productType.value }"
    *mifosxHasPermission="'UPDATE_LOANPRODUCT'"
  >
    <fa-icon icon="edit" class="btn-icon"></fa-icon>{{ 'labels.buttons.Edit' | translate }}
  </button>
</div>

<mifosx-loan-product-summary
  #summary
  [action]="'view'"
  [loanProduct]="loanProduct"
  [useDueForRepaymentsConfigurations]="useDueForRepaymentsConfigurations"
  [paymentAllocations]="loanProduct.paymentAllocation"
  [creditAllocations]="loanProduct.creditAllocation"
  [supportedInterestRefundTypes]="loanProduct.supportedInterestRefundTypes"
>
</mifosx-loan-product-summary>
