<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="layout-row align-end gap-2px responsive-column container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_CASHIER'">
    <fa-icon icon="edit" class="m-r-10"></fa-icon>
    {{ 'labels.buttons.Edit' | translate }}
  </button>
  <button mat-raised-button color="warn" (click)="deleteCashier()" *mifosxHasPermission="'DELETECASHIER_TELLER'">
    <fa-icon icon="trash" class="m-r-10"></fa-icon>
    {{ 'labels.buttons.Delete' | translate }}
  </button>
</div>

<div class="container">
  <mat-card>
    <mat-card-content>
      <table class="detail-table">
        <tbody>
          <tr>
            <th>{{ 'labels.inputs.Name' | translate }}</th>
            <td>{{ cashierData.staffName }}</td>
          </tr>
          <tr>
            <th>{{ 'labels.inputs.Teller' | translate }}</th>
            <td>{{ cashierData.tellerName }}</td>
          </tr>
          @if (cashierData.description !== '') {
            <tr>
              <th>{{ 'labels.inputs.Description' | translate }}</th>
              <td>{{ cashierData.description }}</td>
            </tr>
          }
          <tr>
            <th>{{ 'labels.inputs.Start Date' | translate }}</th>
            <td>{{ cashierData.startDate | dateFormat }}</td>
          </tr>
          <tr>
            <th>{{ 'labels.inputs.End Date' | translate }}</th>
            <td>{{ cashierData.endDate | dateFormat }}</td>
          </tr>
          <tr>
            <th>{{ 'labels.inputs.Full Day/Time' | translate }}</th>
            <td>{{ cashierData.isFullDay }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>

    <mat-card-actions class="layout-row align-center gap-5px responsive-column">
      <button type="button" color="primary" mat-raised-button [routerLink]="['..']">
        {{ 'labels.buttons.Back' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
