<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<form class="container" [formGroup]="collectionSheetForm" (ngSubmit)="previewCollectionSheet()">
  <div class="form-grid">
    <mat-form-field class="field-md">
      <mat-label>{{ 'labels.inputs.Branch Office' | translate }}</mat-label>
      <mat-select formControlName="officeId" required>
        @for (office of officesData; track office.id) {
          <mat-option [value]="office.id">{{ office.name }}</mat-option>
        }
      </mat-select>
      @if (collectionSheetForm.controls.officeId.hasError('required')) {
        <mat-error>
          {{ 'labels.inputs.Branch Office' | translate }} {{ 'labels.commons.is' | translate }}
          <strong>{{ 'labels.commons.required' | translate }}</strong>
        </mat-error>
      }
    </mat-form-field>

    @if (officeId !== null) {
      <mifosx-nepali-date-input
        class="bs-date"
        [inline]="true"
        label="Meeting Date"
        formControlName="meetingDate"
        [minDate]="minDate"
        [maxDate]="maxDate"
      />

      <mat-form-field class="field-md">
        <mat-label>{{ 'labels.inputs.Staff' | translate }}</mat-label>
        <mat-select formControlName="staffId" required>
          @for (loanOfficer of loanOfficerData; track loanOfficer.id) {
            <mat-option [value]="loanOfficer.id">{{ loanOfficer.displayName }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field-md">
        <mat-label>{{ 'labels.inputs.Group' | translate }}</mat-label>
        <mat-select formControlName="groupId">
          @for (group of groupsData; track group.id) {
            <mat-option [value]="group.id">{{ group.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field-md">
        <mat-label>{{ 'labels.inputs.Center' | translate }}</mat-label>
        <mat-select formControlName="centerId">
          @for (center of centersData; track center.id) {
            <mat-option [value]="center.id">{{ center.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>

  <div class="form-actions">
    <button type="button" mat-raised-button [routerLink]="['../']">{{ 'labels.buttons.Cancel' | translate }}</button>
    <button mat-raised-button color="primary" [disabled]="!collectionSheetForm.valid">
      <fa-icon icon="download" class="m-r-10"></fa-icon>
      {{ 'labels.buttons.Productive Collection Sheet' | translate }}
    </button>
  </div>
</form>
