<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!-- Same card grid as the Products page; the description shows on hover. -->
<div class="card-menu container">
  <div class="card-grid">
    <a
      class="management-card"
      [routerLink]="['ranges']"
      [title]="'labels.text.Define delinquency day ranges' | translate"
      *mifosxHasPermission="'READ_DELINQUENCY_RANGE'"
    >
      <div class="icon-circle"><fa-icon icon="calendar-alt" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Delinquency Ranges' | translate }}</span>
    </a>
    <a
      class="management-card"
      [routerLink]="['buckets']"
      [title]="'labels.text.Define delinquency bucket as set of ranges' | translate"
      *mifosxHasPermission="'READ_DELINQUENCY_BUCKET'"
    >
      <div class="icon-circle"><fa-icon icon="bucket" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Delinquency Buckets' | translate }}</span>
    </a>
  </div>
</div>
