<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
@let dark = (themingService.theme | async) === 'dark-theme';
@let label = (dark ? 'labels.menus.Switch to light theme' : 'labels.menus.Switch to dark theme') | translate;
<button
  mat-icon-button
  type="button"
  (click)="themingService.setDarkMode(!dark)"
  [matTooltip]="label"
  [attr.aria-label]="label"
>
  <mat-icon>{{ dark ? 'light_mode' : 'dark_mode' }}</mat-icon>
</button>
