<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<nav class="sidebar" [class.collapsed]="sidenavCollapsed" [attr.aria-label]="'labels.menus.Main Items' | translate">
  <a #logo class="brand" [routerLink]="['/dashboard']" (click)="navigate.emit()">
    <img class="brand-image" src="assets/images/debug-bg.png" alt="Debugsoft" />
  </a>
  @if (overlay) {
    <button
      type="button"
      class="close-button"
      (click)="navigate.emit()"
      [attr.aria-label]="'labels.menus.Collapse Sidebar' | translate"
    >
      <mat-icon>close</mat-icon>
    </button>
  }

  <div class="menu">
    <!-- Home is not needed: QA asked for the Dashboard first; signing in opens it too.
    <a class="row" [routerLink]="['/home']" routerLinkActive="active" (click)="navigate.emit()">
      <mat-icon fontSet="material-symbols-outlined">home</mat-icon>
      <span class="label">{{ 'labels.menus.Home' | translate }}</span>
    </a>
    -->
    <a
      class="row"
      [routerLink]="['/dashboard']"
      routerLinkActive="active"
      (click)="navigate.emit()"
      [matTooltip]="'labels.menus.Dashboard' | translate"
      matTooltipPosition="after"
      [matTooltipDisabled]="!sidenavCollapsed"
    >
      <mat-icon fontSet="material-symbols-outlined">space_dashboard</mat-icon>
      <span class="label">{{ 'labels.menus.Dashboard' | translate }}</span>
    </a>

    @for (section of sections; track section.heading) {
      <div class="section">
        <div class="heading">{{ section.heading | translate }}</div>
        @for (item of section.items; track item.label) {
          @if (item.compliance) {
            @if (compliance.access().showMenu) {
              <ng-container *ngTemplateOutlet="module; context: { $implicit: item }"></ng-container>
            }
          } @else if (modulePermission(item); as permission) {
            <ng-container *mifosxHasPermission="permission">
              <ng-container *ngTemplateOutlet="module; context: { $implicit: item }"></ng-container>
            </ng-container>
          } @else {
            <ng-container *ngTemplateOutlet="module; context: { $implicit: item }"></ng-container>
          }
        }
      </div>
    }
  </div>
</nav>

<ng-template #module let-item>
  @if (item.path) {
    <a
      class="row module"
      [routerLink]="item.path"
      routerLinkActive="active"
      (click)="navigate.emit()"
      [matTooltip]="item.label | translate"
      matTooltipPosition="after"
      [matTooltipDisabled]="!sidenavCollapsed"
    >
      <mat-icon fontSet="material-symbols-outlined">{{ item.icon }}</mat-icon>
      <span class="label">{{ item.label | translate }}</span>
    </a>
  } @else {
    <div
      class="module"
      routerLinkActive="active"
      (isActiveChange)="onActiveChange(item, $event)"
      [class.open]="openModules.has(item.label)"
    >
      @if (sidenavCollapsed) {
        <button
          class="row"
          type="button"
          [matMenuTriggerFor]="pagesMenu"
          [matTooltip]="item.label | translate"
          matTooltipPosition="after"
          [attr.aria-label]="item.label | translate"
        >
          <mat-icon fontSet="material-symbols-outlined">{{ item.icon }}</mat-icon>
        </button>
        <mat-menu #pagesMenu="matMenu" xPosition="after" class="sidenav-flyout">
          <div class="flyout-title">{{ item.label | translate }}</div>
          @for (page of item.children; track $index) {
            <a
              mat-menu-item
              *mifosxHasPermission="page.permission"
              [routerLink]="page.path"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: !!page.exact }"
            >
              {{ page.label | translate }}
            </a>
          }
        </mat-menu>
      } @else {
        <button class="row" type="button" (click)="toggle(item)" [attr.aria-expanded]="openModules.has(item.label)">
          <mat-icon fontSet="material-symbols-outlined">{{ item.icon }}</mat-icon>
          <span class="label">{{ item.label | translate }}</span>
          <mat-icon class="chevron">expand_more</mat-icon>
        </button>
        <div class="pages" [hidden]="!openModules.has(item.label)">
          @for (page of item.children; track $index) {
            <a
              class="page"
              *mifosxHasPermission="page.permission"
              [routerLink]="page.path"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: !!page.exact }"
              (click)="navigate.emit()"
            >
              <!-- A qualifier such as "(Office wise)" goes on its own line. -->
              @let label = page.label | translate;
              @let split = label.indexOf(' (');
              @if (split > 0) {
                <span>{{ label.slice(0, split) }}</span>
                <span>{{ label.slice(split + 1) }}</span>
              } @else {
                {{ label }}
              }
            </a>
          }
        </div>
      }
    </div>
  }
</ng-template>

<ng-template #templateLogo let-popover="popover">
  <h2>{{ 'labels.text.Home' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Welcome page logo from anywhere' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStep()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStep()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>
