<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2 mat-dialog-title id="force-password-change-title">{{ 'errors.auth.passwordExpired.type' | translate }}</h2>

<mat-dialog-content class="force-password-change-content">
  <p class="explanation">{{ 'errors.auth.passwordExpired.message' | translate }}</p>

  @if (username) {
    <p class="signed-in-as">
      {{ 'labels.text.Signed in as' | translate }} <strong>{{ username }}</strong>
    </p>
  }

  <mifosx-reset-password></mifosx-reset-password>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="signOut()">{{ 'labels.inputs.Logout' | translate }}</button>
</mat-dialog-actions>
