<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2 mat-dialog-title class="dialog-title">
  <span class="title-icon"><mat-icon>upload_file</mat-icon></span>
  {{ 'labels.buttons.Import Loan Product' | translate }}
</h2>

<mat-dialog-content>
  @if (!file) {
    <label
      class="drop-zone"
      [class.drop-zone--active]="isDragging"
      (dragover)="onDragOver($event)"
      (dragleave)="isDragging = false"
      (drop)="onDrop($event)"
    >
      <input type="file" accept=".json,application/json" (change)="onFileSelect($event)" />
      <mat-icon class="drop-icon">cloud_upload</mat-icon>
      <span class="drop-text">{{
        'labels.buttons.Select a JSON file containing the loan product definition' | translate
      }}</span>
      <span class="drop-hint">
        <span class="browse-pill">{{ 'labels.buttons.Browse' | translate }}</span>
        .json
      </span>
    </label>
  } @else {
    <div class="file-card">
      <span class="file-icon"><mat-icon>description</mat-icon></span>
      <span class="file-meta">
        <span class="file-name">{{ file.name }}</span>
        <span class="file-size">{{ file.size / 1024 | number: '1.0-1' }} KB</span>
      </span>
      <button
        mat-icon-button
        type="button"
        (click)="clearFile()"
        [matTooltip]="'labels.buttons.Remove' | translate"
        [attr.aria-label]="'labels.buttons.Remove' | translate"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>
    {{ 'labels.buttons.Cancel' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!importLoanProductForm.valid"
    [mat-dialog-close]="importLoanProductForm.value"
  >
    <mat-icon>upload</mat-icon>
    {{ 'labels.buttons.Import' | translate }}
  </button>
</mat-dialog-actions>
