/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@use '../../shared/styles/compact-stepper' as *;

@include compact-stepper;

.container {
  margin: 0 auto;
  max-width: 84rem;
  width: 90%;
  padding-bottom: 32px;
}
