<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!-- Same card grid as the Products and Admin pages; the description shows on hover. -->
<div class="card-menu container">
  <div class="card-grid">
    <a
      #office
      class="management-card"
      [routerLink]="['offices']"
      [title]="'labels.text.Add new office or modify or deactivate office' | translate"
      *mifosxHasPermission="'READ_OFFICE'"
    >
      <div class="icon-circle"><fa-icon icon="building" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Offices' | translate }}</span>
    </a>
    <a
      #holidays
      class="management-card"
      [routerLink]="['holidays']"
      [title]="'labels.text.Define holidays for office' | translate"
      *mifosxHasPermission="'READ_HOLIDAY'"
    >
      <div class="icon-circle"><fa-icon icon="calendar-alt" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Holidays' | translate }}</span>
    </a>
    <a
      #employee
      class="management-card"
      [routerLink]="['employees']"
      [title]="'labels.text.Employee represents loan officers' | translate"
      *mifosxHasPermission="'READ_STAFF'"
    >
      <div class="icon-circle"><fa-icon icon="user" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Employees' | translate }}</span>
    </a>
    <a
      #standinginstructions
      class="management-card"
      [routerLink]="['standing-instructions-history']"
      [title]="'labels.text.View logged history' | translate"
      *mifosxHasPermission="'READ_STANDINGINSTRUCTION'"
    >
      <div class="icon-circle"><fa-icon icon="book" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Standing Instructions History' | translate }}</span>
    </a>
    <a
      #investor
      class="management-card"
      [routerLink]="['investors']"
      [title]="'labels.text.View the loan account details associated with the investors' | translate"
      *mifosxHasPermission="'READ_OFFICE'"
    >
      <div class="icon-circle"><fa-icon icon="user-tie" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.text.Investors' | translate }}</span>
    </a>
    <a
      #fundmapping
      class="management-card"
      [routerLink]="['fund-mapping']"
      [title]="'labels.text.Bulk entry screen for mapping' | translate"
      *mifosxHasPermission="'READ_OFFICE'"
    >
      <div class="icon-circle"><fa-icon icon="money-bill-alt" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Fund Mapping' | translate }}</span>
    </a>
    <a
      #passwordpreferences
      class="management-card"
      [routerLink]="['password-preferences']"
      [title]="'labels.text.The usage of stronger passwords' | translate"
      *mifosxHasPermission="'READ_PASSWORD_VALIDATION_POLICY'"
    >
      <div class="icon-circle"><fa-icon icon="lock" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Password Preferences' | translate }}</span>
    </a>
    <a
      #provisioning
      class="management-card"
      [routerLink]="['provisioning-criteria']"
      [title]="'labels.text.Loan Provisioning Criteria Organization' | translate"
      *mifosxHasPermission="'VIEW_PROVISIONS'"
    >
      <div class="icon-circle"><fa-icon icon="edit" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Loan Provisioning Criteria' | translate }}</span>
    </a>
    <a
      #entitydatatable
      class="management-card"
      [routerLink]="['entity-data-table-checks']"
      [title]="'labels.text.Entity Data Table Checks Organization' | translate"
      *mifosxHasPermission="'READ_ENTITY_DATATABLE_CHECK'"
    >
      <div class="icon-circle"><fa-icon icon="check" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Entity Data Table Checks' | translate }}</span>
    </a>
    <a
      #addEditCurrency
      class="management-card"
      [routerLink]="['currencies']"
      [title]="'labels.text.Currencies available across organization' | translate"
      *mifosxHasPermission="'READ_CURRENCY'"
    >
      <div class="icon-circle"><fa-icon icon="cogs" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Currency Configuration' | translate }}</span>
    </a>
    <a
      #manageFunds
      class="management-card"
      [routerLink]="['manage-funds']"
      [title]="'labels.text.Funds are associated with loans' | translate"
      *mifosxHasPermission="'READ_FUND'"
    >
      <div class="icon-circle"><fa-icon icon="money-bill-alt" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Funds' | translate }}</span>
    </a>
    <a
      #manageLoanOriginators
      class="management-card"
      [routerLink]="['manage-loan-originators']"
      [title]="'labels.text.Loan Originators are associated with loan accounts' | translate"
      *mifosxHasPermission="'READ_LOAN_ORIGINATOR'"
    >
      <div class="icon-circle"><fa-icon icon="edit" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Loan Originators' | translate }}</span>
    </a>
    <a
      #bulkloan
      class="management-card"
      [routerLink]="['bulkloan']"
      [title]="'labels.text.Easy way to reassign all the loan' | translate"
      *mifosxHasPermission="'BULKREASSIGN_LOAN'"
    >
      <div class="icon-circle"><fa-icon icon="money-bill-alt" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Bulk Loan Reassignment' | translate }}</span>
    </a>
    <a
      #tellers
      class="management-card"
      [routerLink]="['tellers']"
      [title]="'labels.text.Manage Tellers / Cashiers' | translate"
      *mifosxHasPermission="'READ_TELLER'"
    >
      <div class="icon-circle"><fa-icon icon="money-bill-alt" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Teller / Cashier Management' | translate }}</span>
    </a>
    <a
      #workingDays
      class="management-card"
      [routerLink]="['working-days']"
      [title]="'labels.text.Working days and configure behaviour of payments' | translate"
      *mifosxHasPermission="'READ_WORKINGDAYS'"
    >
      <div class="icon-circle"><fa-icon icon="calendar-alt" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Working Days' | translate }}</span>
    </a>
    <a
      #paymenttypes
      class="management-card"
      [routerLink]="['payment-types']"
      [title]="'labels.text.Manage payment types' | translate"
      *mifosxHasPermission="'READ_PAYMENTTYPE'"
    >
      <div class="icon-circle"><fa-icon icon="dollar-sign" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Payment Type' | translate }}</span>
    </a>
    <a
      #smscampaigns
      class="management-card"
      [routerLink]="['sms-campaigns']"
      [title]="'labels.text.Define SMS Campaigns for Organization' | translate"
      *mifosxHasPermission="'VIEW_SMSCAMPAIGNS'"
    >
      <div class="icon-circle"><fa-icon icon="envelope" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.SMS Campaigns' | translate }}</span>
    </a>
    <a
      #adhocquery
      class="management-card"
      [routerLink]="['adhoc-query']"
      [title]="'labels.text.Define AdHocQuery for Organization' | translate"
      *mifosxHasPermission="'VIEW_ADHOC'"
    >
      <div class="icon-circle"><fa-icon icon="chevron-right" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.AdHocQuery' | translate }}</span>
    </a>
    <a
      #bulkimport
      class="management-card"
      [routerLink]="['bulk-import']"
      [title]="'labels.text.Bulk data import using excel spreadsheet templates' | translate"
      *mifosxHasPermission="'VIEW_BULKIMPORT'"
    >
      <div class="icon-circle"><fa-icon icon="upload" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Bulk Import' | translate }}</span>
    </a>
  </div>
</div>

<ng-template #templateOffice let-popover="popover">
  <h2>{{ 'labels.heading.Manage Offices' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Manage Offices page allows you to create, edit' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepOffice()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepOffice()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateAddEditCurrency let-popover="popover">
  <h2>{{ 'labels.heading.Currency Configuration' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Define what currencies interactions within the Mifos X system' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepAddEditCurrency()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepAddEditCurrency()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateHolidays let-popover="popover">
  <h2>{{ 'labels.heading.Manage Holidays' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Ability to manage holidays for individual offices' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepHolidays()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepHolidays()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateEmployee let-popover="popover">
  <h2>{{ 'labels.heading.Manage Employees' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.View, edit and delete employees of your organization' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepEmployee()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepEmployee()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateWorkingDays let-popover="popover">
  <h2>{{ 'labels.heading.Working Days' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Working days page allows you to define which days' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepWorkingDays()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepWorkingDays()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateManageFunds let-popover="popover">
  <h2>{{ 'labels.heading.Manage Funds' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.This allows you to manage funds associated with loans.' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepManageFunds()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepManageFunds()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>
