<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!-- Same card grid as the Products page; the description shows on hover. -->
<div class="card-menu container">
  <div class="card-grid">
    <a
      class="management-card"
      [routerLink]="['tax-components']"
      [title]="'labels.heading.Define Tax Components' | translate"
      *mifosxHasPermission="'READ_TAXCOMPONENT'"
    >
      <div class="icon-circle"><fa-icon icon="percent" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Tax Components' | translate }}</span>
    </a>
    <a
      class="management-card"
      [routerLink]="['tax-groups']"
      [title]="'labels.heading.Define Tax Groups' | translate"
      *mifosxHasPermission="'READ_TAXGROUP'"
    >
      <div class="icon-circle"><fa-icon icon="receipt" size="2x"></fa-icon></div>
      <span class="card-label">{{ 'labels.heading.Manage Tax Groups' | translate }}</span>
    </a>
  </div>
</div>
