<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container m-b-20 layout-row align-end gap-20px">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_LOAN_ORIGINATOR'">
    <fa-icon icon="edit" class="m-r-10"></fa-icon>
    {{ 'labels.buttons.Edit' | translate }}
  </button>
</div>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="field-grid">
        <div class="field-card">
          <span class="field-label">{{ 'labels.inputs.Name' | translate }}</span>
          <span class="field-value wrap-content">{{ loanOriginatorData.name }}</span>
        </div>

        <div class="field-card">
          <span class="field-label">{{ 'labels.inputs.External Id' | translate }}</span>
          <span class="field-value wrap-content">{{ loanOriginatorData.externalId }}</span>
        </div>

        <div class="field-card">
          <span class="field-label">{{ 'labels.inputs.Status' | translate }}</span>
          <span class="field-value">
            <span class="badge" [class.badge-on]="loanOriginatorData.status === 'ACTIVE'">
              {{ loanOriginatorData.status }}
            </span>
          </span>
        </div>

        <div class="field-card">
          <span class="field-label">{{ 'labels.inputs.Originator Type' | translate }}</span>
          <span class="field-value">{{ loanOriginatorData.originatorType?.name }}</span>
        </div>

        <div class="field-card">
          <span class="field-label">{{ 'labels.inputs.Channel Type' | translate }}</span>
          <span class="field-value">{{ loanOriginatorData.channelType?.name }}</span>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="layout-row align-center gap-5px responsive-column">
      <button type="button" mat-raised-button [routerLink]="['../']">
        {{ 'labels.buttons.Back' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
