<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<ul class="password-checklist" aria-live="polite">
  @for (item of items; track item.label) {
    <li [class.met]="item.met">
      <span class="marker" aria-hidden="true">{{ item.met ? '✓' : '○' }}</span>
      <span>{{ item.label }}</span>
      <span class="sr-only">{{ item.met ? '(done)' : '(not yet)' }}</span>
    </li>
  }
</ul>
